
@{
    ViewBag.Title = "TimeSheets";
    Layout = "~/Views/Layouts/_HomeLayout.cshtml";
}

@model MCT_TimeSheetsApp.Models._Layout.HomeLayoutModel
@using MCT_TimeSheetsApp.Models.Home.Time_Sheets
@using DataAccessLayer;

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>My Time Sheets</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Dashboard"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">My Time Sheets</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#00c5dc"
                             data-fill-Color="transparent">3,5,1,6,5,4,8,3</div>
                        <span>Visitors</span>
                    </div>
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#f4516c"
                             data-fill-Color="transparent">4,6,3,2,5,6,5,4</div>
                        <span>Visits</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Time Sheets Table <small>You can see the list of your time sheets.</small> </h2>
                        <br />
                        <a class="btn btn-primary" href="#newTimeSheetModal" data-toggle="modal" data-target="#newTimeSheetModal">
                            <i class="fa fa-plus">
                            </i>
                            <span>Create New</span>
                        </a>

                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table  table-filter js-basic-example dataTable table-custom">
                                <thead>
                                    <tr>
                                        <th class="sorting_desc" aria-sort="descending">No</th>
                                        <th>Starting Date</th>
                                        <th>Ending Date</th>
                                        <th>Owner ID</th>
                                        <th>Approver ID</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (MCT_Teknoloji_A_Ş__Time_Sheet_Header timeSheets in Model.ResourceTimeSheetPageModel.ResourceTimeSheetHeaders)
                                        {
                                            <tr data-status="approved">
                                                <td>@timeSheets.No_</td>
                                                <td>@timeSheets.Starting_Date.ToShortDateString()</td>
                                                <td>@timeSheets.Ending_Date.ToShortDateString()</td>
                                                <td>@timeSheets.Owner_User_ID</td>
                                                <td>@timeSheets.Approver_User_ID</td>
                                                <td><a href="/Home/TimeSheetLines/?TimeSheetId=@timeSheets.C_systemId" class="btn btn-info" title="Edit"><i class="fa fa-edit" style="color:white"></i></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="newTimeSheetModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="smallModalLabel">New Time Sheet</h4>
            </div>
            <div class="modal-body">
                <form id="createNewTimeSheetForm" class="form-auth-small">
                    <div class="form-group">
                        <label class="control-label">Starting Date:</label>
                        <input id="NewTS_StartDate" type="date" class="form-control" placeholder="Starting Date" required>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCreatenewTimeSheetSubmit" type="submit" class="btn btn-primary">Create</button>
                        <button id="btnCreateNewTimeSheetCancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



