
@{
    ViewBag.Title = "TimeSheetLines";
    Layout = "~/Views/Layouts/_HomeLayout.cshtml";
}

@model MCT_TimeSheetsApp.Models._Layout.HomeLayoutModel
@using MCT_TimeSheetsApp.Models.Home.Time_Sheets
@using DataAccessLayer;
@using DataAccessLayer.Enum;
@using ServiceLayer;

<style>
    .form-control {
        border-color: white !important;
    }
</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Time Sheet Lines</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Dashboard"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Time Sheet Lines</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#00c5dc"
                             data-fill-Color="transparent">3,5,1,6,5,4,8,3</div>
                        <span>Visitors</span>
                    </div>
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#f4516c"
                             data-fill-Color="transparent">4,6,3,2,5,6,5,4</div>
                        <span>Visits</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="body">
                    <ul class="list-group">
                        <li class="list-group-item"><label>Time Sheet No:</label>&nbsp; @Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.No_</li>
                        <li class="list-group-item"><label>Resource No:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Resource_No_</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="body">
                    <ul class="list-group">
                        <li class="list-group-item"><label>Time Sheet Starting Date:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Starting_Date.ToShortDateString()</li>
                        <li class="list-group-item"><label>Time Sheet Ending Date:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Ending_Date.ToShortDateString()</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <a class="btn btn-primary" href="#newTimeSheetLineModal" data-toggle="modal" data-target="#newTimeSheetLineModal">
            <i class="fa fa-plus">
            </i>
            <span>Create New</span>
        </a>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table" cellspacing="0" id="addrowExample">
                                <thead>
                                    <tr>
                                        <th>Job No.</th>
                                        <th>Job Description</th>
                                        <th>Job Task No.</th>
                                        <th>Job Task Description</th>
                                        <th>Work Type Code</th>
                                        <th>Status</th>
                                        @for (DateTime i = @Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Starting_Date; i < @Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Ending_Date.AddDays(1); i = i.AddDays(1))
                                        {
                                            <th>@i.ToShortDateString()</th>
                                        }
                                        <th>Actions</th>

                                    </tr>

                                </thead>
                                <tbody id="target">
                                    @foreach (MCT_Teknoloji_A_Ş__Time_Sheet_Line timesheetline in Model.ResourceTimeSheetPageModel.ResourceTimeSheetLines)
                                    {

                                        TimeSheetStatusEnum statusEnum = (TimeSheetStatusEnum)timesheetline.Status;

                                        <tr class="gradeA">
                                            <td>@timesheetline.Job_No_</td>
                                            <td>@timesheetline.JobDescription</td>
                                            <td>@timesheetline.Job_Task_No_</td>
                                            <td>@timesheetline.Description</td>
                                            <td>@timesheetline.Work_Type_Code </td>
                                            @{
                                                if (statusEnum == TimeSheetStatusEnum.Approved)
                                                {
                                                    <td><button type="button" class="btn btn-sm btn-outline-success">@statusEnum.ToString()</button></td>
                                                }
                                                if (statusEnum == TimeSheetStatusEnum.Rejected)
                                                {
                                                    <td><button type="button" class="btn btn-sm btn-outline-danger">@statusEnum.ToString()</button></td>
                                                }
                                                if (statusEnum == TimeSheetStatusEnum.Open)
                                                {
                                                    <td><button type="button" class="btn btn-sm btn-outline-primary">@statusEnum.ToString()</button></td>
                                                }
                                                if (statusEnum == TimeSheetStatusEnum.Submitted)
                                                {
                                                    <td><button type="button" class="btn btn-sm btn-outline-warning">@statusEnum.ToString()</button></td>
                                                }

                                            }

                                            @foreach (MCT_Teknoloji_A_Ş__Time_Sheet_Detai lineDetail in Model.ResourceTimeSheetPageModel.ResourceTimeSheetLineDetails.Where(p => p.Time_Sheet_Line_No_ == timesheetline.Line_No_).ToList())
                                            {
                                                <td dateId="@lineDetail.Date.ToShortDateString()" lineId="@lineDetail.Time_Sheet_Line_No_" headerId="@lineDetail.Time_Sheet_No_" class="timeSheetLineHours">@lineDetail.Quantity.ToString("N0")</td>
                                            }

                                            <td class="actions">
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                                        data-toggle="tooltip" data-original-title="Save" hidden>
                                                    <i class="icon-drawer" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                                        data-toggle="tooltip" data-original-title="Discard" hidden>
                                                    <i class="icon-close" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                                        data-toggle="tooltip" data-original-title="Edit">
                                                    <i class="icon-pencil" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>

                                                }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="newTimeSheetLineModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="smallModalLabel2">New Time Sheet Line</h4>
            </div>
            <div class="modal-body">
                <form id="createNewTimeSheetLineForm" class="form-auth-small">
                    <div class="form-group">
                        <label class="control-label">Job Planning Line:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-plus" href="#jobPlanningLinesModal" data-toggle="modal" data-target="#jobPlanningLinesModal"></i></span>
                            </div>
                            <input type="text" id="NewTSLine_JobPlanLineNo" class="form-control" placeholder="Job Planning Line No" readonly>
                        </div>

                    </div>
                    <div class="form-group">
                        <label id="lblTimeSheetHeaderNo" hidden="hidden">@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.No_</label>
                        <label class="control-label">Job No:</label>
                        <input id="NewTSLine_JobNo" type="text" class="form-control" placeholder="Job No" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Job Task No:</label>
                        <input id="NewTSLine_JobTaskNo" type="tel" class="form-control" placeholder="Job Task No." readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description:</label>
                        <input id="NewTSLine_JobPDescription" type="text" class="form-control" placeholder="Description" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Work Type Code:</label>
                        <select class="form-control" style="border-color:black !important" id="TimeSheetWorkTypeCode" required>
                               @{ 

                                   foreach (MCT_Teknoloji_A_Ş__Work_Type workType in Model.ResourceTimeSheetPageModel.Work_Types)
                                   {
                                       <option id="@workType.Code">@workType.Code - @workType.Description</option>
                                   }
                               }
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button id="btnCreatenewTimeSheetLineSubmit" type="button" class="btn btn-primary">Create</button>
                        <button id="btnCreateNewTimeSheetLineCancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button id="btnCreateNewTimeSheetLineWait" type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-refresh fa-spin"></i> <span>Please Wait...</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="jobPlanningLinesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="smallModalLabel3">Job Planning Lines</h4>
            </div>
            <div class="modal-body">
                <div class="row-clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table" style="word-wrap:break-word;overflow-x:scroll" cellspacing="0">
                                        <thead>
                                            <tr class="gradeA">
                                                <th>Action</th>
                                                <th>Job No.</th>
                                                <th>Job Description</th>
                                                <th>Job Task No.</th>
                                                <th>Job Task Description</th>
                                                <th>Planning Date</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow-x:scroll">
                                            @foreach (JobPlanningLinesPageModel jobplanninglinemodel in Model.ResourceTimeSheetPageModel.JobPlanningLines)
                                            {
                                                <tr style="overflow:scroll">
                                                    <td><btn id="btnSelectJobPlanningLine" class="btn btn-info" title="Select"><i class="fa fa-check" style="color:white"></i></btn></td>
                                                    <td id="planLineJobNo">@jobplanninglinemodel.JobNo</td>
                                                    <td id="planLineJobDesc">@jobplanninglinemodel.JobDescription </td>
                                                    <td id="planLineJobTaskNo">@jobplanninglinemodel.JobTaskNo </td>
                                                    <td>@jobplanninglinemodel.JobTaskDescription </td>
                                                    <td id="planLinePlanDate">@jobplanninglinemodel.PlanningDate.ToShortDateString() </td>
                                                    <td>@jobplanninglinemodel.Description </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

