
@{
    ViewBag.Title = "TimeSheetLines";
    Layout = "~/Views/Layouts/_HomeLayout.cshtml";
}

@model MCT_TimeSheetsApp.Models._Layout.HomeLayoutModel
@using MCT_TimeSheetsApp.Models.Home.Time_Sheets
@using DataAccessLayer;
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Time Sheet Lines</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Dashboard"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Time Sheet Lines</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#00c5dc"
                             data-fill-Color="transparent">3,5,1,6,5,4,8,3</div>
                        <span>Visitors</span>
                    </div>
                    <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
                        <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#f4516c"
                             data-fill-Color="transparent">4,6,3,2,5,6,5,4</div>
                        <span>Visits</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="body">
                    <ul class="list-group">
                        <li class="list-group-item"><label>Time Sheet No:</label>&nbsp; @Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.No_</li>
                        <li class="list-group-item"><label>Resource No:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Resource_No_</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="body">
                    <ul class="list-group">
                        <li class="list-group-item"><label>Time Sheet Starting Date:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Starting_Date.ToShortDateString()</li>
                        <li class="list-group-item"><label>Time Sheet Ending Date:</label>&nbsp;@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Ending_Date.ToShortDateString()</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" cellspacing="0" id="addrowExample">
                                <thead>
                                    <tr>
                                        <th>Job No.</th>
                                        <th>Job Task No.</th>
                                        <th>Descripton</th>
                                        @for (int i = 0; i < 7; i++)
                                        {
                                            <th>@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Starting_Date.AddDays(i).ToShortDateString()</th>
                                        }
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Time_Sheet_Line timesheetline in Model.ResourceTimeSheetPageModel.ResourceTimeSheetLines)
                                    {
                                        <tr class="gradeA">
                                            <td>@timesheetline.Job_No_</td>
                                            <td>@timesheetline.Job_Task_No_</td>
                                            <td>@timesheetline.Description</td>

                                            @for (int i = 0; i < 7; i++)
                                            {
                                                <td class="timeSheetLineHours">@Model.ResourceTimeSheetPageModel.CurrentTimeSheetHeader.Starting_Date.AddDays(i).ToShortDateString()</td>
                                            }

                                            <td class="actions">
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                                        data-toggle="tooltip" data-original-title="Save" hidden>
                                                    <i class="icon-drawer" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                                        data-toggle="tooltip" data-original-title="Discard" hidden>
                                                    <i class="icon-close" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                                        data-toggle="tooltip" data-original-title="Edit">
                                                    <i class="icon-pencil" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>